@import url("./pallete.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: var(--background-color-quatro);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5em;
  width: 100%;
}

header h1{
  margin-left: 60px;
  width: 280px;
}

header nav{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}

header ul{
  list-style: none;
  margin-left: 40px;

  display: flex;
  align-items: center;
  gap: 30px;
}

header a {
  text-decoration: none;
  color: var(--font-color-dois);
}

header button {
  background-color: var(--background-color-seis);
  color: var(--font-color-dois);

  border: none;
  margin-right: 40px;
  padding: 10px;
  width: 131px;
}

footer {
  background-color: var(--background-color-quatro);
  color: var(--font-color-tres);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8em;
  padding-top: 2em;
  font-size: 1.2em;
  width: 100%;
}

footer ul {
  list-style: none;
}

footer h3 {
  color: var(--font-color-quatro);
  margin-bottom: 15px;
}

footer a {
  color: var(--font-color-tres);
  text-decoration: none;
}

footer #links-e-configs,
footer #informacao {
  display: flex;
  width: 100%;
}

footer #links-e-configs {
  border-bottom: 1px solid var(--font-color-cinco);

  padding-bottom: 1em;
}

footer #informacao {
  padding-top: 1em;
}

footer #links-e-configs #site {
  width: 40%;
}

footer #links-e-configs #contato {
  width: 20%;
}

footer #links-e-configs #idiomas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40%;
}

footer #links-e-configs #idioma {
  width: 15%;
}

footer #contato a {
  color: var(--font-color-dois);
}

footer #links-e-configs aside ul {
  display: flex;
  gap: 30px;
}

footer #site ul {
  justify-content: start;
}

footer #site h3 {
  text-align: left;
}

footer #contato ul {
  justify-content: end;
}

footer #contato h3 {
  text-align: right;
}

footer #idiomas #caixa-de-idioma {
  background-color: var(--background-color-cinco);

  width: 75%;
  max-width: 200px;
  padding: 10px;
}

footer #idiomas #caixa-de-idioma label {
  color: var(--font-color-tres);
  margin-bottom: 10px;
  margin-left: 1em;
}

footer #idiomas #caixa-de-idioma div {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

footer #idiomas #caixa-de-idioma img {
  max-width: 25px;
}

footer #idiomas #caixa-de-idioma select {
  background-color: var(--background-color-cinco);
  color: white;

  border: none;

  margin-left: 1em;
  height: 2em;
  width: 120px;
}

footer #informacao {
  text-align: justify;
}

footer #informacao div {
  width: 100%;
  display: flex;
  align-items: center;
}

footer #informacao #links {
  justify-content: left;
  align-items: baseline;
}

footer #informacao #links p {
  width: 100%;
}

footer #informacao #imgs {
  justify-content: right;
}

footer #informacao #faixa-etaria {
  max-width: max-content;
  margin-left: 1.5em;
}

footer #informacao h1 {
  background-color: red;
  color: white;
  padding: 10px;
}