@import url('./components/styles/global.css');
@import url("https://fonts.googleapis.com/css?family=Inter:400,900");

* {
    box-sizing: border-box;
  }
  
  :root { 
    --black: #000000;
    --black-2: #00000014;
    --delta: #a3a3a3;
    --tango: #f17f1a;
    --white: #ffffff;
    --wild-sand: #f3f3f3;
   
    --font-size-l: 16.7px;
    --font-size-m: 16px;
    --font-size-s: 14.9px;
    --font-size-xl: 20px;
    --font-size-xs: 14.8px;
    --font-size-xxl: 21.8px;
    --font-size-xxxl: 48px;
   
    --font-family-inter: "Inter", Helvetica;
  }

  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    flex-grow: 1;
    padding: 20px;
  }

  .main section {
    margin-bottom: 20px;
  }

  .topo {
    background-color: transparent;
    height: 549px;
    left: 0px;
    overflow: hidden;
    position: flex;
    top: 136px;
    width: 100%;
}

.topo__banner {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    height: 549px;
    left: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .topo__banner img {
    max-width:1920px;
    max-height:549px;
    width: auto;
    height: auto;
}
  
  .topo__logo {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    height: 110px;
    left: 400px;
    overflow: hidden;
    position: absolute;
    top: 141px;
    width: 300px;
  }

  .topo__logo img {
    max-width:300px;
    max-height:150px;
    width: auto;
    height: auto;
}
  
  .topo__titulo {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    height: 56px;
    left: 400px;
    letter-spacing: 0.00px;
    line-height: 32.4px;
    position: absolute;
    text-align: left;
    top: 254px;
    width: 520px;
  }

  .topo__btn__texto {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    height: 19px;
    left: 450px;
    letter-spacing: 0.00px;
    position: flex;
    text-align: left;
    top: 359px;
    white-space: nowrap;
    width: 60px;    
  }

  .topo__btn {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    height: 59px;
    position: absolute;
    top: 340px;
    width: 160px;
    background-color: var(--tango);
    left: 400px;
  }
    
  .topo__video {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    height: 59px;
    position: absolute;
    top: 340px;
    width: 160px;
    background-color: transparent;
    border: 2px solid;
    border-color: var(--wild-sand);
    left: 584px;
  }
  
  .topo__video__texto {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: 16.9px;
    font-style: normal;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0.00px;
    line-height: 27px;
    text-align: left;
    top: 355px;
    white-space: nowrap;
    width: 78px;
  }
  
  .icon {
    background-color: transparent;
    height: 16px;
    left: 699px;
    object-fit: cover;
    top: 362px;
    width: 16px;
  }
  
/* Menu Jogos e DLC */

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    height: 60px;
    left: 0px;
    position: absolute;
    top: 600px;
    width: 100%;
}

.link {
  background-color: transparent;
  height: 60px;
  left: 340px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.opcao {
  background-color: var(--black-2);
  height: 60px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 79px;
}

.link__jogo {
  background-color: transparent;
  border-bottom-style: none;
  border-color: var(--black-2);
  border-left-style: none;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-style: none;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 79px;
}

.jogo {
  background-color: transparent;
  color: #161616cc;
  font-family: var(--font-family-inter);
  font-size: 16.6px;
  font-style: normal;
  font-weight: 400;
  height: 27px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 48px;
}

.link__dlc {
  background-color: transparent;
  border-bottom-style: none;
  border-color: var(--black-2);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: none;
  border-top-style: none;
  height: 27px;
  left: 139px;
  position: absolute;
  top: 15px;
  width: 63px;
}

.dlc {
  background-color: transparent;
  color: #161616;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 27px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 32px;
}

/* DIV central */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 400px); 
  grid-template-rows: repeat(2, 401px); 
  gap: 20px; 
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 50px;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
}

.image img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
}

/* BANNER */

.newsletter__ {
  position: relative;
}

.newsletter {

  background-color: #161616c2;
  height: 550px;
}

.titulo {
  background-color: transparent;
  color: var(--wild-sand);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 100px;
  width: 474px;
}

.texto {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 80px;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 350px;
  width: 533px;
}

.email {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 976px;
  position: absolute;
  top: 100px;
  width: 544px;
}

.email__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 15.4px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 995px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 105px;
  white-space: nowrap;
  width: 46px;
}

#texto {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 25px;
}

.nascimento {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 976px;
  position: absolute;
  top: 190px;
  width: 256px;
}

.nascimento__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 995px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 195px;
  white-space: nowrap;
}

#dataNascimento {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 25px;
}

.pais {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 1264px;
  position: absolute;
  top: 190px;
  width: 256px;
}

.pais__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 1285px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 200px;
  white-space: nowrap;

}

.seleciona {
  background-color: transparent;
  color: var(--tango);
  font-family: var(--font-family-inter);
  font-size: 16.6px;
  font-style: normal;
  font-weight: 900;
  height: 27px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 123px;
}

#primeiro {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 20px;
}

.checkbox {
  background-color: transparent;
  height: 28px;
  object-fit: cover;
  position: relative;
  width: 18px;
  top: 8px;
}

.texto__checkbox {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 105px;
  left: 990px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 290px;
  width: 507px;
}

.termos {
  color: var(--wild-sand);
  font-style: normal;
}

.termos1 {
  color: var(--tango);
  font-style: normal;
}

.button {
  
}

.texto__  {
  color: var(--wild-sand);
  font-family: var(--font-family-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
  position: absolute;
  text-align: center;
  background-color: var(--tango);
  border: none;
  border-radius: 3px;
  height: 66px;
  left: 1350px;
  top: 390px;
  width: 168px;
}

#closeButton {
  position: absolute;
  top: 10px;
  font-weight: 900;
  right: 10px;
  background-color: transparent;
  color: var(--wild-sand);
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#closeButton:hover {
  color: orange;
  font-weight: 900;
}

input:invalid {
  border-color: var(--tango);
}

