@import url('./components/styles/global.css');
@import url("https://fonts.googleapis.com/css?family=Inter:400,900");

* {
    box-sizing: border-box;
  }
  
  :root { 
    --black: #000000;
    --black-2: #00000014;
    --delta: #a3a3a3;
    --tango: #f17f1a;
    --white: #ffffff;
    --wild-sand: #f3f3f3;
    --wild-sand-2: #f1f1f1;
    --wild-sand-3: #EAEAEA;
   
    --font-size-l: 16.7px;
    --font-size-m: 16px;
    --font-size-s: 14.9px;
    --font-size-xl: 20px;
    --font-size-xs: 14.8px;
    --font-size-xxl: 21.8px;
    --font-size-xxxl: 48px;
   
    --font-family-inter: "Inter", Helvetica;
  }

  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    flex-grow: 1;
    padding: 20px;
  }

  .main section {
    margin-bottom: 20px;
  }

h1 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 900;
  line-height: 1.2;
  color: var(--tango);
  margin-bottom: 20px;
}

  .topo {
    background-color: transparent;
    height: 549px;
    left: 0px;
    overflow: hidden;
    position: relative;
    top: auto;
    width: 100%;
}

.topo__banner {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.topo__banner video {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--delta);
}

.topo__banner img {
    max-width:1920px;
    max-height:549px;
    width: 100%;
    height: 100%;
    top: auto;
}
  
  .topo__logo {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    height: 110px;
    left: 400px;
    overflow: hidden;
    position: absolute;
    top: 150px;
    width: 300px;
  }

  .topo__logo img {
    max-width:300px;
    max-height:150px;
    width: auto;
    height: auto;
}
  
  .topo__titulo {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    height: 56px;
    left: 400px;
    letter-spacing: 0.00px;
    line-height: 32.4px;
    position: absolute;
    text-align: left;
    top: 275px;
    width: 520px;
  }

  .topo__btn__texto {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: 19px;
    left: 450px;
    letter-spacing: 0.00px;
    top: 359px;
    white-space: nowrap;
    width: 60px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    height: 59px;
    position: absolute;
    top: 340px;
    width: 160px;
    background-color: var(--tango);
    left: 400px;   
  }
  
  .topo__video__texto {
    background-color: transparent;
    color: var(--wild-sand);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0.00px;
    white-space: nowrap;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    height: 59px;
    position: absolute;
    top: 340px;
    width: 160px;
    border: 2px solid;
    border-color: var(--wild-sand);
    left: 584px;
  }
  
  .topo__video__texto .fas {
    margin-right: 10px; 
  }
  
/* Menu Jogos e DLC */

.menu-container {
  display: flex;
  background-color: var(--wild-sand-2);
}

.menu {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 60px;
  margin-left: 340px;
}

.opcao {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
  position: relative; 
}

.link__jogo:hover .jogo,
.link__dlc:hover .dlc {
  border-bottom: 2px solid var(--tango);
}

.jogo::after,
.dlc::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; 
  width: 0;
  height: 2px;
  background-color: var(--tango);
  transition: width 0.3s ease; 
  transform: translateX(-50%);
}

.link__jogo.active .jogo::after,
.link__dlc.active .dlc::after {
  width: 100%; 
}

.link__jogo,
.link__dlc {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; 
}

.link__jogo:hover,
.link__dlc:hover {
  background-color: var(--black-2);
  height: 60px;
  cursor: pointer; 
}

.jogo,
.dlc {
  color: #161616cc;
  font-family: var(--font-family-inter);
  font-size: 16.6px;
  font-weight: 400;
}

/* DIV central */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 401px);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--wild-sand-3);
  padding: 50px;
}

.grid-container {
  display: none; 
}

.ativo {
  display: grid; 
}

.image {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image img {
  width: 100%;
  height: auto;
}

.image img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
}

#imagens {
  width: 1080px;
  height: 360px;
}

/* BANNER */

.newsletter__ {
  position: relative;
}

.newsletter {
  background-color: #161616c2;
  height: 550px;
}

.titulo {
  background-color: transparent;
  color: var(--wild-sand);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 100px;
  width: 474px;
}

.texto {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 80px;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 350px;
  width: 533px;
}

.email {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 976px;
  position: absolute;
  top: 100px;
  width: 544px;
}

.email__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 15.4px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 995px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 105px;
  white-space: nowrap;
  width: 46px;
}

#texto {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 25px;
}

.nascimento {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 976px;
  position: absolute;
  top: 190px;
  width: 256px;
}

.nascimento__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 995px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 195px;
  white-space: nowrap;
}

#dataNascimento {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 25px;
}

.pais {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--wild-sand);
  border-radius: 3px;
  height: 70px;
  left: 1264px;
  position: absolute;
  top: 190px;
  width: 256px;
}

.pais__ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 1285px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 200px;
  white-space: nowrap;

}

.seleciona {
  background-color: transparent;
  color: var(--tango);
  font-family: var(--font-family-inter);
  font-size: 16.6px;
  font-style: normal;
  font-weight: 900;
  height: 27px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 123px;
}

#primeiro {
  background-color: transparent;
  color: var(--delta);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 12px 0 0 20px;
}

.checkbox {
  background-color: transparent;
  height: 28px;
  object-fit: cover;
  position: relative;
  width: 18px;
  top: 8px;
}

.texto__checkbox {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 105px;
  left: 990px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 290px;
  width: 507px;
}

.termos {
  color: var(--wild-sand);
  font-style: normal;
}

.termos1 {
  color: var(--tango);
  font-style: normal;
}

.button {
  
}

.texto__  {
  color: var(--wild-sand);
  font-family: var(--font-family-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
  position: absolute;
  text-align: center;
  background-color: var(--tango);
  border: none;
  border-radius: 3px;
  height: 66px;
  left: 1350px;
  top: 390px;
  width: 168px;
}

#closeButton {
  position: absolute;
  top: 10px;
  font-weight: 900;
  right: 10px;
  background-color: transparent;
  color: var(--wild-sand);
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#closeButton:hover {
  color: orange;
  font-weight: 900;
}

input:invalid {
  border-color: var(--tango);
}

#banner {
  position: relative;
}

#banner img,
#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoPlayer {
  display: none; 
}